<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/users">Personas</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
  <h1>INICIO</h1>
</body>
</html>
